@font-face {
	font-family: custom;
	src: url(../fonts/Calligraphy.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&display=swap');

.navigation{
	background-color: black;
	overflow: hidden;
}

.navigation a {
	float: left;
	color:blanchedalmond;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 17px;
	position: relative;
	opacity:0.75;

}

.navigation a:hover{
	opacity: 1;
}

#home .navigation #nav-home,
#Portfolio .navigation #nav-portfolio,
#CV .navigation #nav-cv,
#About .navigation #nav-about,
#Contact .navigation #nav-contact
{
	opacity: 1;
	text-decoration: underline solid;
	text-decoration-color: blanchedalmond;
}

.Intro {
	margin: 0;
	background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.Intro h1{
	font-family: custom;
}

.cvphoto {
	border-radius: 50%;
	border: 5px solid rgb(0, 0, 0);
	height: 300px;
	width: 300px;
	float: left;
}

html {
	background: url(../images/mountains.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#cv{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-auto-rows: minmax(200px, auto);
}

.Work, .Education, .Other{
	padding: 50px;
	background-color: #D9D4D9;
	margin: 10px;
	grid-column: 2/3;
}

.Education{
	grid-column: 1/4;
}

.skills{
	padding: 50px;
	background-color: #B2A9B1;
	margin: 10px;
	grid-column: 1;
	grid-row: 2;
}

.languages
{
	padding: 50px;
	background-color: #B2A9B1;
	margin: 10px;
	grid-column: 1;
	grid-row: 3;
}

@media only screen and (max-width : 800px) 
{
	#cv
	{
	display: grid;
	grid-template-columns: 1fr;
	padding: 1em;
    grid-row-gap: 1em;
	}
	.Education{
		grid-column: 1/1;
		grid-row: 1/1;
	} 
	.Work{
		grid-column: 1/1;
		grid-row: 2/2;
	}  
	
	
	.Other{
		grid-column: 1/1;
		grid-row: 3/3;
	}

	.languages{
		grid-column: 1/1;
		grid-row: 4/4;
	}
	
	.skills{
		grid-column: 1/1;
		grid-row: 5/5;
	}
}

.bold{
	text-transform: uppercase;
	font-size: 20px;
}

.cvpic2{
	grid-column: 1;
	grid-row: 1;
	width: 280px;
	height: 400px;
	margin: 10px;
}

.Work li,
.Education li,
.Other li{
	list-style-type: circle;
}

.about,
.contact{
	background-color: #D9D4D9;
	position: fixed;
	padding:50px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
}

.container{
	position: absolute;
}

@media only screen and (max-width : 900px)
	{
		.About .container-pb{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 2/3;
			
	}
	.About .container-pb .about{
		grid-column: 1/1;
		grid-row: 3/3;
		max-height: 600px;
		min-height: 300px;
		min-width: 450px;
	}

}

.contacticons{
	text-align: center;
}

.contact ul{
	list-style: none;
	
}

.contact li{
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
}

.container-pb .about{
	justify-content: center;
	text-align: center;
}

.container-pb .about a{
	font-family: 'Lobster', cursive;
	font-size: 20px;
}

.container-pb .about img{
	width: 300px;
	padding: 1em;
}
